@use '../../../styles/variables' as *;

.counters-section {
  background: $bg-color;
  font-family: $primary-font;

  .icon {
    font-size: $fs-3xl;
    color: $primary-color;
    background-color: $white-color;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
  }

  .number-wrap {
    font-size: $fs-4xl;
    font-weight: $font-weight-semibold;
    color: $primary-color;
    line-height: 1.2;
  }

  .heading {
    font-size: $fs-md;
    font-weight: $font-weight-medium;
    line-height: $lh-15;
    letter-spacing: $letter-spacing-mainheading;
  }
}