<section class="top-bar py-3 border-bottom bg-white">
  <div class="container">
    <div class="row align-items-center gy-3">
      <div class="col-md-auto">
        <div class="logo">
          <img src="/assets/Logo-250x73.png" alt="Aurora iTech Logo" class="img-fluid" style="max-height: 60px;" />
        </div>
      </div>

      <div class="col-md">
        <div class="d-flex flex-wrap align-items-center gap-3">
          <div class="swiper contact-swiper w-100" #contactSwiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">+91 860 830 4444</h6>
                    <div class="info-sub-title">business&#64;auroraitech.com</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-map-marker-alt"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">No. 276, IInd Floor</h6>
                    <div class="info-sub-title">Trichy Rd, Coimbatore</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-clock"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">24*7</h6>
                    <div class="info-sub-title">Customer Support</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">+91 860 830 4444</h6>
                    <div class="info-sub-title">business&#64;auroraitech.com</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-map-marker-alt"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">No. 276, IInd Floor</h6>
                    <div class="info-sub-title">Trichy Rd, Coimbatore</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-item d-flex align-items-center">
                  <div class="info-icon me-2">
                    <i class="fa fa-clock"></i>
                  </div>
                  <div class="info-content">
                    <h6 class="info-title mb-0">24*7</h6>
                    <div class="info-sub-title">Customer Support</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-auto">
        <div class="social-icons d-flex align-items-center gap-2">
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook"></i>
        </div>
      </div>
    </div>
  </div>
</section>


  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/Logo-250x73.png" alt="Logo" height="40" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
        aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav  d-flex align-items-center flex-nowrap gap-3">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" id="servicesDropdown"
              role="button" aria-expanded="false" data-bs-toggle="dropdown">Services<i class="fas fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Web Development</a></li>
              <li><a class="dropdown-item" href="#">Mobile Apps</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="techDropdown" role="button"
              data-bs-toggle="dropdown">Technologies <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Angular</a></li>
              <li><a class="dropdown-item" href="#">React</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="portfolioDropdown" role="button"
              data-bs-toggle="dropdown">Portfolios <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Case Study 1</a></li>
              <li><a class="dropdown-item" href="#">Case Study 2</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
        <form class="d-flex ms-auto" role="search">
          <div class="separator"></div>
          <input class="form-control me-2" type="search" placeholder="Search">
          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
          <div class="separator"></div>
        </form>
      </div>
    </div>
  </nav>